@CHARSET "UTF-8";

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
   
      margin-bottom: 0;
      border-radius: 0;
      background-color: #ec407a;
      
    }
    .navbar-brand {
      font-size: 50px;
    }
    .img{
    	
    }
    
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 750px}
    
    /* Set background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ffcdd2;
      height: 100%;
    }
  
    
    /* Set background color, text and some padding */
    footer {
      background-color: white;
      color: black;
      padding: 15px;
    }
    /* Add image styling and spacing */
    .container{
    width: 200px;
    height: 120px;
    margin: 20px;
}
.container img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
	margin: 20px;
}

    }