@CHARSET "UTF-8";

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
   
      margin-bottom: 0;
      border-radius: 0;
      background-color: #ec407a;
      height: 100px;
      
    }
    .navbar-brand {
      font-size: 50px;
    }
    .img{
    	
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 750px}
    
    /* Set background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ffcdd2;
      height: 100%;	
	  font-size: 17px;
}
    }
  
    
    /* Set background color, text and some padding */
    footer {
      background-color: white;
      color: black;
      padding: 15px;
    }
    /* Add image styling and spacing */
    .container{

    
    width: 400px;
    height: 250px;
    margin: 20px;
}
.container img {
	border-radius: 25px;
	display: inline-block;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
	margin: 20px;
}
.col-sm-8 text-left{
	width: 100%;
    float: left; 
    width: 33.33%;
}

#aboutimgleft img {
    margin-left: 20px;
}

#aboutimgcenter {
    text-align: center;
    text-style: italic;
    font-size: 20px;
    margin-left: 100px;
}

#aboutimgright {
    text-align: right;
}

#aboutimgright img {
    margin-right: 20px;
	
}
	
    }